#sidebar{
    @include flexCenter(80%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform .7s ease;
    z-index: 3;
    svg{
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2em;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
        li{
            color: darken(#bfbfbf, 30%);
        }
    }
}