@mixin flexCenter($width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $width;
}
@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}